<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <h1>LOGIN</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li style="list-style: none; color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="emailaddress" id="email" required placeholder="Enter your email address">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required placeholder="Enter your password">

        <button type="submit">Login</button>


    </form>
</body>

</html>